li{
  list-style:none;
    border: 1.5px solid rgb(224, 25, 25);
    border-radius: 20px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left:-20px;
    margin-bottom: 37px;
    background:linear-gradient(to right,rgba(196, 43, 43, 0.63),white 20%);
}
ul{
    border: dashed rgb(128, 127, 127) ;
    border-radius: 20px;
    margin: 40px;
    background-color: rgb(160, 159, 159);
}