section{
    /* padding:10px; */
    justify-content: flex-start;
    position: relative;
    float: left;
    padding-inline-start: 20px;
    padding-inline-end: 50px;
    padding-bottom: 20px;
}


h1{
    
    color: rgb(218, 26, 26);
    font-size:2em;
    
    
}

p{
    font-weight: normal;
    font-size: 18px;
    
}

time{
    font-size: 15px;
    font-weight: bold;
    
}

@media (min-width: 400px) {
    h1{
        font-size: 1.0em;
    }

    p{
        font-size: 12px;
    }

    time{
        font-size:12px;
    }
}

@media (min-width: 800px) {
    h1{
        font-size: 1.4em;
    }

    p{
        font-size: 12px;
    }

    time{
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    h1{
        font-size: 1.4em;
    }

    p{
        font-size: 15px;
    }

    time{
        font-size:15px;
    }
}