button{
    grid-template-columns: 1fr;
    justify-content: center;
    border: 2px solid rgb(230, 224, 224);
    border-radius: 10px;
    width:420px;
    height: 50px;
    background-color: rgb(211, 3, 3);
    color:white;
    position: relative;
    left:15px;
    top:380px;
    font-size: 15px;
    overflow: hidden;
}